<div class="card1">
  <div class="row">
    <img src="./assets/course1.jpg " class="logo" alt="">
  </div>
  <div class="row" style="padding: 10px">
    <h2 style="padding: 5px">Yazılım Geliştirici Yetiştirme Kampı</h2>
    <p style="color: #746b6b">1.5 ay sürecek Yazlım Geliştirici Yetiştirme Kampımızın takip ve duyurularını..</p>
  </div>
  <div class="desc" style="display: flex">
    <div class="col" style="display: flex">
      <img src="./assets/engin.jpg " class="teacher" alt="">
      <p>Engin Demiroğ</p>
    </div>
    <div class="col">
      <h3 style="color: #134361">ÜCRETSİZ</h3>
    </div>
  </div>
</div>