<div class="main" style="background-color: #fafafa">
  <div class="container">
    <div class="tab-1">
      <div class="category-tab">
        <label for="category" style="color: #989898">Kategori:</label>
        <select id="categories" name="categories" class="category-opinion" form="categoriesform">
          <option value="all" style="color: #134361" >Tümü</option>
        </select>
      </div>
      <div class="category-tab">
        <label for="category" style="color: #989898">Eğitmen:</label>
        <select id="categories" name="categories" class="category-opinion" form="categoriesform">
          <option value="all" style="color: #134361" >Tümü</option>
        </select>
      </div>
    </div>
    <div class="tab-2">
      <form id="form"> 
        <input type="search" id="query" name="q" placeholder="Kurs bul">
        <button style="height: 45px">Search</button>
      </form>
    </div>
  </div>
  <div class="card-container">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
  </div>
  <div class="card-container"  style="margin-top: 20px">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>
</div>
