.container {
  justify-content: space-around;
  align-items: center;
}
.navbar {
 background: #134361;
 justify-content: center!important;
 font-family: 'Montserrat', sans-serif;
 font-size: 14px;
}
.menu {
  list-style: none;
  align-items: center;
}
.menu li a{
  list-style: none;
  color: #fff;
  text-decoration: none;
}
.menu li {
 display: inline;
 margin-left: 15px;
}
.user {
  width: 30px;
  border-radius: 50%;
}
.logo {
 margin-left: 30px; 
}